


.over{
	color:blue;
	
}
.under{
	color:red;
}
h1 {
	
	color: #4ab100;
	font-style: italic;

} 

.vcenter {
   
    vertical-align: middle;
    
}


/*Override the bootstrap stuff*/

.navbar-inner {
  font-size:10px;
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  background-image: -moz-linear-gradient(top, #0599D9, #0482b8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0599D9), to(#0482b8));
  background-image: -webkit-linear-gradient(top, #0599D9, #0482b8);
  background-image: -o-linear-gradient(top, #0599D9, #0482b8);
  background-image: linear-gradient(to bottom, #0599D9, #0482b8);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0599D9', endColorstr='#0482b8', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/
}
.navbar-inverse .navbar-inner {

background-color:#ffffff;
background-image:none;

}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color:#333333;
	text-shadow:none;
font-size:10px;

}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #0000FF;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #ffffff;
    color: blue;

}

.navbar .nav > li > a {
float: none;
color: white;
text-decoration: none;
font-family: "Helvetica Neue", helvetica, Arial;
text-align: center;
font-size: 12px;
}
.navbar .nav > li > a:hover {
color: #0482b8;
background: url(/~oakc4/images/gradient.png);
background-position: 0px -40px;
text-shadow: 1px 0px 0px #fff;
}

a:hover {
	color:blue

}


#summaryBox{
	padding:10px;
	width:100%;
	
}

#selectedSchool {
	height:300px;
	overflow:scroll

}

#map { 	height: 600px;
		background-color:grey}
		
.info {
	height: 50px;
	width:300px;
	background-color:blue

}
		#theTotal{
	
	font-size:48px;
	color:blue;
	line-height:50px;
	font-weight:bold;
	margin-top:20px;
	text-align:center;

}
#theScores {
	/*margin-right:10px*/
}

.detail {
	padding:10px;
	margin-bottom:10px;

}
#content{
	width: 100%;
    height: auto;
    margin: 0px;
    padding:2px 0px;
    
}
#right{ width: 230px;
    height: auto;
    float: left;
    padding: 20px 50px 20px 20px;
    margin: 0px;
}
#left {	 width: 600px;
    height: auto;
    float: left;
    padding: 20px;
    margin: 0px;}


		
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}


#getRandom{
	font-size:larger
}
.legend {
			text-align: left;
			line-height: 10px;
			color: #000;
			background-color:#fff;
			padding:20px;
			opacity:.8;
			-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
		}
#legendList{
	margin-top:30px;
	margin-bottom:20px;
	background-color:white;
	
}
#legendList li {
	display:inline;
	 list-style-type: none;
	 color:#333333;
	 font-size:12px;
	 font-weight:bolder;
	padding:20px;
	 
}

#legendList li  a {
	display:inline;
	font-weight:bolder
}

#legendList i {
	width: 30px;
	height: 10px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}


#theSchools a {
	color:#333333
}
#theScores th {
	text-align:left;

}

#leg li{
	display:inline;
	list-style-type:none;
	padding-right:20px;
	color: black;

	
}

#leg i {
	width:20px;
	line-height:15px;
	padding-right:30px;
	margin-right:20px;

}
#schoolTitle{
	margin-bottom:20px;
	text-align:center

}
@media (max-width: 480px){
	h1{
		font-size:14px;
	}
	#btnAbout{
		font-size:8px;
	}
	#map{
		height:400px;
	}
	.btn{
		line-height: 11px
	}
	
	.navbar-toggle{
		margin-top:4px;
	}
	.navbar-inner{
		font-size: 8px;
		padding-left: 10px;
		padding-right: 10px
	}
	.navbar .nav > li > a{
		font-size:8px;
	}
	#legendList li{
		font-size: 8px;
		padding:5px;
	}
}