table.tablesorter {
	
	/*background-color: #4D4D4D;*/
	width: 100%;
	border: 0px solid #000;
}
table.tablesorter th {
	padding: 0px;
	background-color: #6E6E6E;
	color:white;
	text-align: left;
	font-size: .8em
}
table.tablesorter td {
	color: #333333;
	padding: 5px;
	text-align: center;
	font-size: .8em
}
#firstRow{
	text-align: left
}
table.tablesorter tr:nth-child(2n) {
	background-color: rgba(119,159,75,.5);
}
table.tablesorter :odd {
	background-color: #6E6E6E;
}
table.tablesorter .header {
	/*background-image: url(arrows.png);*/
	background-repeat: no-repeat;
	border-bottom: 1px solid green;
	border-right: 1px solid #fff;
	/*border-top: 1px solid #FFF;*/
	padding-left: 10px;
	padding-top: 8px;
	height: auto;
	
}
table.tablesorter .headerSortUp {
	/*background-image: url(arrows.png);*/
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	/*background-image: url(arrows.png);*/
	background-repeat: no-repeat;
}

tr.activeRow {
	background-color:yellow;
}